---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Main page" class="flex flex-col justify-center">
  <h1
    class="text-transparent bg-clip-text bg-gradient-to-tr to-tertiary from-primary text-6xl mb-2"
  >
    Hello there!
  </h1>

  <p class="lead mt-0">
    Please visit my main site at <a
      class="no-underline"
      href="https://www.daimond113.com"
    >
      <span class="bg-true-primary rounded-md px-2 text-white">daimond113</span
      >.com
    </a>
  </p>
</Layout>
